In [1]:
##tasks
#import library
#download file
#unzip
#set tmp file

#logging function
#testing cell

#ETL function
    #def extract function
        #file types to dataframe
        #append/merge
    #def transform function
        #focus on tasks
    #def load function

#using ETL flow

In [3]:
##import library
#download
from urllib import request
#unzip, already built
#logging file
from datetime import datetime
#extract function
import glob
import pandas as pd
import xml.etree.ElementTree as ET

# download file

In [6]:
#request:library
    #urlretrieve():function
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/datasource.zip"
response = request.urlretrieve(url,'datasource.zip')

### unzip, into folder

In [7]:
#-d :into folder
    #dealership_data: folder name
!unzip datasource.zip -d dealership_data

Archive:  datasource.zip
  inflating: dealership_data/used_car_prices1.csv
  inflating: dealership_data/used_car_prices2.csv
  inflating: dealership_data/used_car_prices3.csv
  inflating: dealership_data/used_car_prices1.json
  inflating: dealership_data/used_car_prices2.json
  inflating: dealership_data/used_car_prices3.json
  inflating: dealership_data/used_car_prices1.xml
  inflating: dealership_data/used_car_prices2.xml
  inflating: dealership_data/used_car_prices3.xml

# set path

* naming of files
    * tmp file
    * log file
    * target file

In [25]:
tmp_file = "dealership_tmp.tmp"
log_fie = "dealership_log_file.txt"
target_file = "dealership_transformed.csv"

# Logging function

* with open 'a' mode:do
    *datetime + messenage + \n:write in

In [31]:
#datetime:module
    #datetime:library
        #now():function
        #strftime():function
            #stamp_format:determine
                #'%':string format
def log(prioity,messenage):
    datetime_stamp = "%Y-%m-%d %H:%M:%S"
    now_time = datetime.now()
    datetime_log = now_time.strftime(datetime_stamp)
    with open("dealership_log_file.txt",'a') as f:
        f.write(datetime_log + ',' + '[' + prioity + ']' + messenage + '\n')

## testing cell

In [144]:
logs = 'testing load procedure, success'
prioity = 'action'
log(prioity,logs)

In [139]:
logs='(t,target_file) is neither a string nor a macro'
prioity = 'error'
log(prioity,logs)

In [143]:
logs = 'function design, dataframe input need to be second variable'
prioity = 'solved'
log(prioity,logs)

The ETL process

# Extract function

* open file by glob
    - file types into dataframe

    * file types into dataframe

        #extact_from_xml tree
            #read xml file
                #ET:library
                    #tree:tree
                        #parse(file):function
                            #getroot():function
            #into dataframe,append
                #determine column names
                #car_model,year_of_manufacture,price,fuel
                    #column name = .find(key).text

In [116]:
#read_csv into dataframe
def extract_from_csv(file_to_process):
    dataframe = pd.read_csv(file_to_process)
    return dataframe

In [117]:
#read_json into dataframe
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process,lines=True)
    return dataframe

In [118]:
def extract_from_xml(file_to_process):
    dataframe = pd.DataFrame(columns=['car_model','year_of_manufacture','price','fuel'])
    tree = ET.parse(file_to_process)
    tree_root = tree.getroot()
    for car_info in tree_root:
        car_model = car_info.find('car_model').text
        year_of_manufacture = car_info.find('year_of_manufacture').text
        price = car_info.find('price').text
        fuel = car_info.find('fuel').text
        dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
    return dataframe

    * extract appending

        #read all types files:do
            #glob:library
                #glob():function
                    #*.csv:all csv files
        #into dataframe, append
            #determine column names
            #car_model,year_of_manufacture,price,fuel
                #append dataframes into dataframe

In [119]:
def extract():
    extracted_data = pd.DataFrame(columns=['car_model','year_of_manufacture','price','fuel'])
    #process all csv file
    for csv_file in glob.glob("dealership_data/*.csv"):
        extracted_data = extracted_data.append(extract_from_csv(csv_file),ignore_index=True)
    #process all json file
    for json_file in glob.glob("dealership_data/*.json"):
        extracted_data = extracted_data.append(extract_from_json(json_file),ignore_index=True)
    #process all xml file
    for xml_file in glob.glob("dealership_data/*.xml"):
        extracted_data = extracted_data.append(extract_from_xml(xml_file),ignore_index=True)
        
    return extracted_data

# Transform function

In [129]:
#price to round 0
def transform(data):
    data['price'] = round(data.price.astype(float),2)
    
    return data

# Load function

In [137]:
#dataframe load to csv 
#target_file = "dealership_transformed.csv"
def load(file_to_target,data_to_load):
    data_to_load.to_csv(file_to_target)

# Running ETL flow

In [145]:
log("Starting ETL process")

TypeError: log() missing 1 required positional argument: 'messenage'

In [146]:
log("action","Extract phase Started")
extracted_data = extract()
log("action","Extract phase Ended")
extracted_data

<ipython-input-119-0e4b821907cf>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csv_file),ignore_index=True)
<ipython-input-119-0e4b821907cf>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csv_file),ignore_index=True)
<ipython-input-119-0e4b821907cf>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csv_file),ignore_index=True)
<ipython-input-119-0e4b821907cf>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(json_file),ignore_index=True)
<ipython-input-119-0e4b821907cf>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(json_file),ignore_index=True)
<ipython-input-119-0e4b821907cf>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(json_file),ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-119-0e4b821907cf>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_xml(xml_file),ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-119-0e4b821907cf>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_xml(xml_file),ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-118-98060f26a8cb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({'car_model':car_model,'year_of_manufacture':year_of_manufacture,'price':price,'fuel':fuel},ignore_index=True)
<ipython-input-119-0e4b821907cf>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_xml(xml_file),ignore_index=True)

        car_model year_of_manufacture               price    fuel
0            ritz                2014              5000.0  Petrol
1             sx4                2013         7089.552239  Diesel
2            ciaz                2017        10820.895522  Petrol
3         wagon r                2011         4253.731343  Petrol
4           swift                2014         6865.671642  Diesel
..            ...                 ...                 ...     ...
85     etios liva                2014    7089.55223880597  Diesel
86         innova                2017  29477.611940298506  Petrol
87       fortuner                2010  13805.970149253732  Diesel
88  corolla altis                2011   6492.537313432835  Petrol
89  corolla altis                2016   21268.65671641791  Petrol

[90 rows x 4 columns]

In [147]:
log("action","Transform phase Started")
transformed_data = transform(extracted_data)
log("action","Transform phase Ended")
transformed_data

        car_model year_of_manufacture     price    fuel
0            ritz                2014   5000.00  Petrol
1             sx4                2013   7089.55  Diesel
2            ciaz                2017  10820.90  Petrol
3         wagon r                2011   4253.73  Petrol
4           swift                2014   6865.67  Diesel
..            ...                 ...       ...     ...
85     etios liva                2014   7089.55  Diesel
86         innova                2017  29477.61  Petrol
87       fortuner                2010  13805.97  Diesel
88  corolla altis                2011   6492.54  Petrol
89  corolla altis                2016  21268.66  Petrol

[90 rows x 4 columns]

In [148]:
log("action","Load phase Started")
load(target_file,transformed_data)
log("action","Load phase Ended")

In [149]:
log("action","ETL flow is completed")