In [1]:
import pandas as pd

In [2]:
a = pd.DataFrame({'Name':['A','B'],'Market Cap (US$ Billion)':[1,2]})

In [3]:
a

  Name  Market Cap (US$ Billion)
0    A                         1
1    B                         2

# .rename(): Method

In [4]:
a.rename(columns={'US':'GBP'}, inplace=True)
a

  Name  Market Cap (US$ Billion)
0    A                         1
1    B                         2

# replace str

In [5]:
print(a.columns[1])
print(type(a.columns[1]))

Market Cap (US$ Billion)
<class 'str'>

In [6]:
replace_name = a.columns[1].replace('US','GBP')
replace_name

'Market Cap (GBP$ Billion)'

In [7]:
a.rename(columns={a.columns[1]:replace_name},inplace=True)
a

  Name  Market Cap (GBP$ Billion)
0    A                          1
1    B                          2